/* index.css */

/* Regular */
@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoeui.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoeuib.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoeuii.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoeuil.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@import "tailwindcss";

:root {
  font-family: "Segoe UI", sans-serif;
}

body {
  font-family: inherit;
}

.loader {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background: #ffffff; /* inner circle */
}

@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
